<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pythonblog</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg p-2 navbar-light bg-dark">
        <a class="navbar-brand text-light" href="/">Pythonblog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white-50" href="/about">About</a>
              </li>
            </ul>
          </div>
      </nav>
      <main class="container mt-4">
        <section>
            <h2>About</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nihil mollitia, tenetur excepturi suscipit animi a voluptates exercitationem aliquam cupiditate! Nesciunt doloremque nulla quasi quae aspernatur nemo, sit dolorem sequi ipsa, id deserunt fugit provident repellat ipsum, soluta nisi laborum temporibus neque a nostrum incidunt magnam sint quas. Tempore vel sapiente ad voluptatum corporis porro harum, unde in, explicabo accusantium voluptates et! Rerum sed dolorem dignissimos delectus perferendis non odit. Dolorem hic placeat iste repudiandae ullam. Temporibus voluptatibus tempora veniam obcaecati consectetur exercitationem laudantium accusantium ratione sequi dignissimos ad pariatur ex illum minima expedita, labore nemo ipsa error aspernatur sunt.</p>
        </section>
      </main>
</body>
</html>